.EstiloLogo {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Zorque Font';
    font-size: 100px;
}

.App {
    text-align: center;
}
  
.App-logo {
    height: 40vmin;
    pointer-events: none;
}
  
@media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
}
  
.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}
  
.App-link {
    color: #61dafb;
}
  
@keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}

.favorito-icon {
    cursor: pointer;
}
  
.favoritos-container {
    position: fixed;
    top: 80px;
    right: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
  
.favoritos-container h2 {
    margin: 0;
    font-size: 16px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    cursor: pointer;
}
  
.favoritos-container ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.favoritos-container ul li {
    font-size: 14px;
    padding: 5px 0;
    border-bottom: 1px solid #ccc;
}

.buscar-icon,
.borrar-icon,
.faSearch,
.flecha{
  cursor: pointer;
}

.buscador-container {
    position: relative;
    width: 300px;
    margin: 0 auto;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 25px;
    outline: none;
  }

  button[type="submit"] {
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
  }

  button[type="submit"] i {
    color: #555;
  }

  .perfil {
    opacity: 90%;
    border: 2px solid #61dafb;
    border-radius: 10px;
    padding: 20px;
    background-color: #f0f0f0;
    max-width: 400px;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
  }
  
  .perfil h2 {
    color: #03637e;
  }
  
  .perfil img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
  }

  .error-container {
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
    padding: 10px;
    margin: 20px auto 0;
    max-width: 300px;
    display: flex;
    align-items: center;
  }
  
  .error-message {
    margin-left: 20%;
    color: #721c24;
  }
  
  .error-icon {
    color: #721c24;
  }
  
  