.faqs {
	width: 100%;
	max-width: 768px;
	margin: 0 auto;
	padding: 15px;
  cursor: pointer;

}

.faqs .faq {
	margin: 15px;
	padding: 15px;
	background-color: #FFF;
	border-radius: 8px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.faqs .faq .faq-pregunta {
	position: relative;
	font-size: 20px;
	padding-right: 80px;

	transition: all 0.4s ease;
}

.faqs .faq .faq-pregunta::after {
	content: '';
	position: absolute;
	top: 50%;
	right: 0px;
	transform: translateY(-50%);
	width: 30px;
	height: 30px;

	background-image: url('../../../public/arrow-down-mint.svg');
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;

	transition: all 0.4s ease-out;
}

.faqs .faq .faq-respuesta {
	opacity: 0;
	max-height: 0;
	overflow-y: hidden;
	transition: all 0.4s ease-out;
}

.faqs .faq.open .faq-pregunta {
	margin-bottom: 15px;
}

.faqs .faq.open .faq-pregunta::after {
	transform: translateY(-50%) rotate(180deg);
}

.faqs .faq.open .faq-respuesta {
	max-height: 1000px;
	opacity: 1;
}

.faq-pregunta {
  font-weight: bold;
}

.icon {
  margin-top: -7%;
  cursor: pointer;
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}